@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    font-family: Montserrat;
}

.wrapper {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center
}

.container {
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.balance{
    margin-bottom: 55px;
}

.balance__control {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin-bottom: 50px;
}